#errorCatcher Echo
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>El Tiempo en Montaos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Juan Antonio Mosquera" >

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/lightbox.css" rel="stylesheet">

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="http://gl.wikipedia.org/wiki/Santa_Cruz_de_Montaos,_Ordes">$station.location</a>   
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              &Uacute;ltima actualizaci&oacute;n: $current.dateTime
            </p>
            <ul class="nav">
              <li><a href="index.html">El Tiempo</a></li>
              <li><a href="stats.html">Estad&iacute;sticas</a></li>
              <li><a href="history.html">Hist&oacute;rico</a></li>
              <li><a href="news.html">Noticias</a></li>
              <li class="active"><a href="#">Sobre mm&iacute;</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fixed"> <!--Main page container -->  
      <div class="row">
        <div class="span4">
        
          <!-- <ul class="nav nav-pills">
            <li class="active"><a href="#">Now</a></li>
          </ul> -->          
          <ul class="thumbnails">
            <li class="span2">
              <img src="outTempGauge.png" alt="">
              <h5 align="center">Temperatura exterior</h5>
            </li>
            <li class="span2">
              <img src="barometerGauge.png" alt="">
              <h5 align="center">Presi&oacute;n barom&eacute;trica</h5>
            </li>
            <li class="span2">
              <img src="windDirGauge.png" alt="">
              <h5 align="center">Direcci&oacute;n del viento</h5>
            </li>
            <li class="span2">
                <img src="outHumidityGauge.png" alt="">
              <h5 align="center">Humedad exterior</h5>
            </li>

            <li class="span2">
              <img src="windSpeedGauge.png" alt="">
              <h5 align="center">Velocidad del viento</h5>
            </li>
            <li class="span2">
                <img src="windGustGauge.png" alt="">
              <h5 align="center">Velocidad de r&aacute;faga</h5>
            </li>
          </ul>    
          
          <!-- <div class="well"> -->
            <table class="table table-hover">
              <tbody>
	              <tr>
	                <td>Latitud:</td>
	                <td>$station.latitude[0]&deg; $station.latitude[1]' $station.latitude[2]</td>
	              </tr>
	              <tr>
	                <td>Longitud:</td>
	                <td>$station.longitude[0]&deg; $station.longitude[1]' $station.longitude[2]</td>
	              </tr>
	              <tr>
	                <td>Altitud:</td>
	                <td>$station.altitude</td>
	              </tr>
	              <tr>
	                <td>Tiempo de actividad de la estaci&oacute;n:</td>
	                <td>$station.uptime</td>
	              </tr>
	              <tr>
	                <td>Tiempo de actividad del servidor:</td>
	                <td>$station.os_uptime</td>
	              </tr>
	            </tbody>
            </table>

<!--           </div> -->

          
        </div><!--/span-->
        <div class="span8">
          <h2>Como se hizo...</h2>
<p>Este sitio web utiliza una estaci&oacute;n meteorol&oacute;gica Watson modelo W-8681 que transmite los datos a un miniordenador 
<a href="http://www.raspberrypi.org/">Raspberry Pi</a></p>

<p>La comunicaci&oacute;n entre el ordenador y la estaci&oacute;n se realiza mediante <a href="http://weewx.com">Weewx</a>
software (version $station.version). Weewx descarga los datos cada 5 minutos y los guarda en base de datos en el ordenador.</p>

<p>Esa web usa un skin <a href="http://getbootstrap.com/2.3.2/">Bootstrap v2.3.2</a> para mejorar la presentaci&oacute;n.
Los gr&aacute;ficos (gauges) son creados con scrips escritos en Python dentro del paquete Weewx.</p>

<p>El c&oacute;digo para renderizar Gauge (<a href="https://github.com/brewster76/fuzzy-archer/blob/master/bin/user/gaugeengine.py">gaugeengine.py</a>)
y el generador del hist&oacute;rico (<a href="https://github.com/brewster76/fuzzy-archer/blob/master/bin/user/historygenerator.py">historygenerator.py</a>)
pueden ser descargados en github: <a href="https://github.com/brewster76/fuzzy-archer">github.com/brewster76/fuzzy-archer</a>
</p>

<p>Aqu&iacute; teneis un manual para su instalaci&oacute;n: <a href="https://github.com/brewster76/fuzzy-archer/blob/master/INSTALL">INSTALACI&Oacute;N</a>

        </div><!--/span-->
      </div><!--/row-->
      <hr>

      <footer>
        <p><a href="http://www.juanantoniomosquera.com">Juan Antonio Mosquera</a></p>
      </footer>

    </div><!--/.fluid-container-->      
   
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery-1.7.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>
<span style="font-size: smaller;"></span>
