<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <title>$BootstrapLabels.title</title>
   <!-- Bootstrap -->
   <link href="css/bootstrap.min.css" rel="stylesheet" />
   <link href="css/live.css" rel="stylesheet">
</head>
<!-- Menu navbar -->
<body>
#include "nav.html.tmpl"
<!-- Main container -->
<div class="container-fluid">
    <div class="row">
        <!-- Gauge panel -->
        #include "livegauges.html.tmpl"
        <!-- Graph panel -->
        <div class="col-md-9 main">
            <p></p>
            #include "graphMenu.html.tmpl"
            <table class="table">
              <tbody>
                <th scope="col"><h3>$BootstrapLabels.almanac.sun</h3></th>
                <th scope="col"><h3>$BootstrapLabels.almanac.moon</h3></th>
                #if $almanac.hasExtras
                ## Extended almanac information is available. Do the full set of tables.
                #set $sun_altitude = $almanac.sun.alt
                #if $sun_altitude < 0
                #set $sun_None="<i>(Always down)</i>"
                #else
                #set $sun_None="<i>(Always up)</i>"
                #end if
                <tr>
                  <td>
                <div class="row col">
                <table class="table table-hover">
                <tbody>
                  <tr>
                    <th scope="row">$BootstrapLabels.almanac.start_civil_twilight</td>
                    <td>$almanac(horizon=-6).sun(use_center=1).rise</td>
                  </tr>
                  <tr>
                    <th scope="row">$BootstrapLabels.almanac.sunrise</td>
                    <td>$almanac.sun.rise.string($sun_None)</td>
                  </tr>
                  <tr>
                    <th scope="row">$BootstrapLabels.almanac.transit</td>
                    <td>$almanac.sun.transit</td>
                  </tr>
                  <tr>
                    <th scope="row">$BootstrapLabels.almanac.sunset</td>
                    <td>$almanac.sun.set.string($sun_None)</td>
                  </tr>
                  <tr>
                    <th scope="row">$BootstrapLabels.almanac.end_civil_twilight</td>
                    <td>$almanac(horizon=-6).sun(use_center=1).set</td>
                  </tr>
                  <tr>
                    <th scope="row">$BootstrapLabels.almanac.azimuth</td>
                    <td>$("%.1f&deg;" % $almanac.sun.az)</td>
                  </tr>
                  <tr>
                    <th scope="row">$BootstrapLabels.almanac.altitude</td>
                    <td>$("%.1f&deg;" % $sun_altitude)</td>
                  </tr>
                  <tr>
                    <th scope="row">$BootstrapLabels.almanac.right_ascension</td>
                    <td>$("%.1f&deg;" % $almanac.sun.ra)</td>
                  </tr>
                  <tr>
                    <th scope="row">$BootstrapLabels.almanac.declination</td>
                    <td>$("%.1f&deg;" % $almanac.sun.dec)</td>
                  </tr>
                  #if $almanac.next_equinox.raw < $almanac.next_solstice.raw
                  ## The equinox is before the solstice. Display them in order.
                  <tr>
                    <th scope="row">$BootstrapLabels.almanac.equinox</td>
                    <td>$almanac.next_equinox</td>
                  </tr>
                  <tr>
                    <th scope="row">$BootstrapLabels.almanac.solstice</td>
                    <td>$almanac.next_solstice</td>
                  </tr>
                  #else
                  ## The solstice is before the equinox. Display them in order.
                  <tr>
                    <th scope="row">$BootstrapLabels.almanac.solstice</td>
                    <td>$almanac.next_solstice</td>
                  </tr>
                  <tr>
                    <th scope="row">$BootstrapLabels.almanac.equinox</td>
                <td>$almanac.next_equinox</td>
                  </tr>
                  #end if
                  <tr>
                    <th scope="row">&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                </tbody>
                </table>
                </div>
                </td>
                <td>
                  <div class="row col">
                  <table class="table table-hover">
                  <tbody>
                    <tr>
                      <th scope="row">&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <th scope="row">$BootstrapLabels.almanac.rise</td>
                      <td>$almanac.moon.rise</td>
                    </tr>
                    <tr>
                      <th scope="row">$BootstrapLabels.almanac.transit</td>
                      <td>$almanac.moon.transit</td>
                    </tr>
                    <tr>
                      <th scope="row">$BootstrapLabels.almanac.set</td>
                      <td>$almanac.moon.set</td>
                    </tr>
                    <tr>
                      <th scope="row">&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <th scope="row">$BootstrapLabels.almanac.azimuth</td>
                      <td>$("%.1f&deg;" % $almanac.moon.az)</td>
                    </tr>
                    <tr>
                      <th scope="row">$BootstrapLabels.almanac.altitude</td>
                      <td>$("%.1f&deg;" % $almanac.moon.alt)</td>
                    </tr>
                    <tr>
                      <th scope="row">$BootstrapLabels.almanac.right_ascension</td>
                      <td>$("%.1f&deg;" % $almanac.moon.ra)</td>
                    </tr>
                    <tr>
                      <th scope="row">$BootstrapLabels.almanac.declination</td>
                      <td>$("%.1f&deg;" % $almanac.moon.dec)</td>
                    </tr>
                  #if $almanac.next_full_moon.raw < $almanac.next_new_moon.raw
                    <tr>
                      <th scope="row">$BootstrapLabels.almanac.full_moon</td>
                      <td>$almanac.next_full_moon</td>
                    </tr>
                    <tr>
                      <th scope="row">$BootstrapLabels.almanac.new_moon</td>
                      <td>$almanac.next_new_moon</td>
                    </tr>
                  #else
                    <tr>
                      <th scope="row">$BootstrapLabels.almanac.new_moon</td>
                      <td>$almanac.next_new_moon</td>
                    </tr>
                    <tr>
                      <th scope="row">$BootstrapLabels.almanac.full_moon</td>
                      <td>$almanac.next_full_moon</td>
                    </tr>
                  #end if
                    <tr>
                      <th scope="row">$BootstrapLabels.almanac.phase</td>
                      <td>$almanac.moon_phase ($almanac.moon_fullness% full)</td>
                    </tr>
                </tbody>
                  </table>
                  </div>
                  </td>
                #else
                ## No extended almanac information available. Fall back to a simple table.
                  <div class="col-md-12">
                   <div class="row col">
                  <table class="table table-hover">
                   <tbody>
                    <tr>
                      <th scope="row">$BootstrapLabels.almanac.sunrise</td>
                      <td>$almanac.sunrise</td>
                    </tr>
                    <tr>
                      <th scope="row">$BootstrapLabels.almanac.sunset</td>
                      <td>$almanac.sunset</td>
                    </tr>
                    <tr>
                      <th scope="row">$BootstrapLabels.almanac.moon_phase</td>
                      <td>$almanac.moon_phase ($almanac.moon_fullness% full)</td>
                    </tr>
                   </tbody>
                  </table>
                  </div>
                  </div>
                  #end if
                </tr>
              </tbody>
            </table>
         </div>

        </div>
      </div>

    <hr>
    <footer>
      <p>$BootstrapLabels.footer</p>
    </footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-3.6.0.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/mqtt.min.js"></script>
<script src="js/units.js"></script>
<script src="js/site.js"></script>
<script src="js/echarts.min.js"></script>
<script src="js/lang.js"></script>
<script src="js/gauges.js"></script>
<script src="js/charts.js"></script>
#include "script.html.tmpl"
</body>
</html>

