<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>$BootstrapLabels.title</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Menu navbar -->
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="$BootstrapLabels.location_href">$station.location</a>
        </div>
        <div class="navbar-collapse collapse">

          <ul class="nav navbar-nav">
            <li class="active"><a href="#">$BootstrapLabels.headings.front_page</a></li>
            <li><a href="stats.html">$BootstrapLabels.headings.stats</a></li>
            <li><a href="history.html">$BootstrapLabels.headings.history</a></li>
            <li><a href="news.html">$BootstrapLabels.headings.news</a></li>
            <li><a href="about.html">$BootstrapLabels.headings.about</a></li>
          </ul>

          <p class="navbar-text navbar-right">
              $BootstrapLabels.headings.last_update $current.dateTime
          </p>
        </div><!--/.nav-collapse -->
      </div>
    </div>



    <!-- Main container -->
    <div class="container">
      <div class="row">


        <!-- Gauge panel -->
#include "gauges.html.tmpl"


          <!-- Graph panel -->
          <div class="col-md-8 main">
              <ul class="nav nav-pills">
                <li><a href="index.html">$BootstrapLabels.timespans.day</a></li>
                <li><a href="week.html">$BootstrapLabels.timespans.week</a></li>
                <li><a href="month.html">$BootstrapLabels.timespans.month</a></li>
                <li><a href="year.html">$BootstrapLabels.timespans.year</a></li>
                <li class="active"><a href="#">$BootstrapLabels.timespans.almanac</a></li>
              </ul>
              <br />

            <div class="row col-xs-12" align="center">
              <table class="table table-bordered">
                <tbody>
                  <caption><h2>$BootstrapLabels.almanac.almanac</h2></caption>
                  #if $almanac.hasExtras
                  ## Extended almanac information is available. Do the full set of tables.
                  #set $sun_altitude = $almanac.sun.alt
                  #if $sun_altitude < 0
                  #set $sun_None="<i>(Always down)</i>"
                  #else
                  #set $sun_None="<i>(Always up)</i>"
                  #end if
                  <tr>
                  <td>
                    <div class="row col-xs-12" align="center">
                    <table class="table table-hover">
                <tbody>
                     <caption> <h3>$BootstrapLabels.almanac.sun</h3></caption>
                      <tr>
                        <td>$BootstrapLabels.almanac.start_civil_twilight</td>
                        <td>$almanac(horizon=-6).sun(use_center=1).rise</td>
                      </tr>
                      <tr>
                        <td>$BootstrapLabels.almanac.sunrise</td>
                        <td>$almanac.sun.rise.string($sun_None)</td>
                      </tr>
                      <tr>
                        <td>$BootstrapLabels.almanac.transit</td>
                        <td>$almanac.sun.transit</td>
                      </tr>
                      <tr>
                        <td>$BootstrapLabels.almanac.sunset</td>
                        <td>$almanac.sun.set.string($sun_None)</td>
                      </tr>
                      <tr>
                        <td>$BootstrapLabels.almanac.end_civil_twilight</td>
                        <td>$almanac(horizon=-6).sun(use_center=1).set</td>
                      </tr>
                      <tr>
                        <td>$BootstrapLabels.almanac.azimuth</td>
                        <td>$("%.1f&deg;" % $almanac.sun.az)</td>
                      </tr>
                      <tr>
                        <td>$BootstrapLabels.almanac.altitude</td>
                        <td>$("%.1f&deg;" % $sun_altitude)</td>
                      </tr>
                      <tr>
                        <td>$BootstrapLabels.almanac.right_ascension</td>
                        <td>$("%.1f&deg;" % $almanac.sun.ra)</td>
                      </tr>
                      <tr>
                        <td>$BootstrapLabels.almanac.declination</td>
                        <td>$("%.1f&deg;" % $almanac.sun.dec)</td>
                      </tr>
                      #if $almanac.next_equinox.raw < $almanac.next_solstice.raw
                      ## The equinox is before the solstice. Display them in order.
                      <tr>
                        <td>$BootstrapLabels.almanac.equinox</td>
                        <td>$almanac.next_equinox</td>
                      </tr>
                      <tr>
                        <td>$BootstrapLabels.almanac.solstice</td>
                        <td>$almanac.next_solstice</td>
                      </tr>
                      #else
                      ## The solstice is before the equinox. Display them in order.
                      <tr>
                        <td>$BootstrapLabels.almanac.solstice</td>
                        <td>$almanac.next_solstice</td>
                      </tr>
                      <tr>
                        <td>$BootstrapLabels.almanac.equinox</td>
                        <td>$almanac.next_equinox</td>
                      </tr>
                      #end if
                </tbody>
                    </table>
                    </div>
                    </td>


                  <td>
                   <div class="row col-xs-12" align="center">
                    <table class="table table-hover">
                <tbody>
                     <caption><h3>$BootstrapLabels.almanac.moon</h3> </caption>
                      <tr>
                        <td>$BootstrapLabels.almanac.rise</td>
                        <td>$almanac.moon.rise</td>
                      </tr>
                      <tr>
                        <td>$BootstrapLabels.almanac.transit</td>
                        <td>$almanac.moon.transit</td>
                      </tr>
                      <tr>
                        <td>$BootstrapLabels.almanac.set</td>
                        <td>$almanac.moon.set</td>
                      </tr>
                      <tr>
                        <td>$BootstrapLabels.almanac.azimuth</td>
                        <td>$("%.1f&deg;" % $almanac.moon.az)</td>
                      </tr>
                      <tr>
                        <td>$BootstrapLabels.almanac.altitude</td>
                        <td>$("%.1f&deg;" % $almanac.moon.alt)</td>
                      </tr>
                      <tr>
                        <td>$BootstrapLabels.almanac.right_ascension</td>
                        <td>$("%.1f&deg;" % $almanac.moon.ra)</td>
                      </tr>
                      <tr>
                        <td>$BootstrapLabels.almanac.declination</td>
                        <td>$("%.1f&deg;" % $almanac.moon.dec)</td>
                      </tr>
                    #if $almanac.next_full_moon.raw < $almanac.next_new_moon.raw
                      <tr>
                        <td>$BootstrapLabels.almanac.full_moon</td>
                        <td>$almanac.next_full_moon</td>
                      </tr>
                      <tr>
                        <td>$BootstrapLabels.almanac.new_moon</td>
                        <td>$almanac.next_new_moon</td>
                      </tr>
                    #else
                      <tr>
                        <td>$BootstrapLabels.almanac.new_moon</td>
                        <td>$almanac.next_new_moon</td>
                      </tr>
                      <tr>
                        <td>$BootstrapLabels.almanac.full_moon</td>
                        <td>$almanac.next_full_moon</td>
                      </tr>
                    #end if
                      <tr>
                        <td>$BootstrapLabels.almanac.phase</td>
                        <td>$almanac.moon_phase<br/>($almanac.moon_fullness% full)</td>
                      </tr>
                </tbody>
                    </table>
                    </div>
                    </td>
                  #else
                  ## No extended almanac information available. Fall back to a simple table.
                    <div class="col-md-12">
                     <div class="row col-xs-11" align="center">
                    <table class="table table-hover">
                <tbody>
                      <tr>
                        <td>$BootstrapLabels.almanac.sunrise</td>
                        <td>$almanac.sunrise</td>
                      </tr>
                      <tr>
                        <td>$BootstrapLabels.almanac.sunset</td>
                        <td>$almanac.sunset</td>
                      </tr>
                      <tr>
                        <td>$BootstrapLabels.almanac.moon_phase</td>
                        <td>$almanac.moon_phase<br/>($almanac.moon_fullness% full)</td>
                      </tr>
                </tbody>
                    </table>
                    </div>
                    </div>
                    #end if
                </tr>
                  </tbody>
              </table>
            </div>
         </div>

        </div>
      </div>

    <hr>
    <footer>
      <p>$BootstrapLabels.footer</p>
    </footer>

<!-- 'raw' makes Cheetah skip this section so it doesn't get confused by the dollar signs in the js -->
#raw
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Lightbox -->
    <script src="js/ekko-lightbox.min.js"></script>
   <script type="text/javascript">
        $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
   </script>
#end raw

  </body>
</html>

