#raw
<div class="chart">
    <div class="modal fade" id="###name###Modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 900px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="big_images/###name###.png" alt="" class="mw-100">
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
    <img src="images/###name###.png" alt="" class="mw-100" data-bs-toggle="modal"
         data-bs-target="####name###Modal" style="cursor: pointer;">
</div>
#end raw