        <div class="col-md-4">
          <div class="row">
              <div class="col-md-6" align="center">
                <img src="outTempGauge.png" alt="">
                <h5>$Labels.Generic.outTemp</h5>
              </div>

              <div class="col-md-6" align="center">
                <img src="barometerGauge.png" alt="">
                <h5>$Labels.Generic.barometer</h5>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6" align="center">
                <img src="windDirGauge.png" alt="">
                <h5>$Labels.Generic.windDir</h5>
              </div>

              <div class="col-md-6" align="center">
                <img src="outHumidityGauge.png" alt="">
                <h5>$Labels.Generic.outHumidity</h5>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6" align="center">
                <img src="windSpeedGauge.png" alt="">
                <h5>$Labels.Generic.windSpeed</h5>
              </div>

              <div class="col-md-6" align="center">
                <img src="windGustGauge.png" alt="">
                <h5>$Labels.Generic.windGust</h5>
              </div>
          </div>

          <!-- Station info -->
          <div class="row">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <td>$BootstrapLabels.status.latitude</td>
                  <td>$station.latitude[0]&deg; $station.latitude[1]' $station.latitude[2]</td>
                </tr>
                <tr>
                  <td>$BootstrapLabels.status.longitude</td>
                  <td>$station.longitude[0]&deg; $station.longitude[1]' $station.longitude[2]</td>
                </tr>
                <tr>
                  <td>$BootstrapLabels.status.altitude</td>
                  <td>$station.altitude</td>
                </tr>
                <tr>
                  <td>$BootstrapLabels.status.station_uptime</td>
                  <td>$station.uptime</td>
                </tr>
                <tr>
                  <td>$BootstrapLabels.status.server_uptime</td>
                  <td>$station.os_uptime</td>
                </tr>
                <tr>
                  <td>$BootstrapLabels.almanac.sun:</td>
                  <td>$almanac.sun.rise - $almanac.sun.set</td>
                </tr>
                <tr>
                  <td>$BootstrapLabels.almanac.moon:</td>
                  <td>$almanac.moon.rise - $almanac.moon.set</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
