<script type="text/javascript">
let readingTypes = [];
</script>
<p id="graphMenu">
    <a class="btn" href="index.html#">$BootstrapLabels.timespans.live</a>
    <a class="btn" href="day.html#">$BootstrapLabels.timespans.day</a>
    <a class="btn" href="week.html#">$BootstrapLabels.timespans.week</a>
    <a class="btn" href="month.html#">$BootstrapLabels.timespans.month</a>
    <a class="btn" href="year.html#">$BootstrapLabels.timespans.year</a>
</p>