#include "head.html.inc"
<body>
<!-- Menu navbar -->
#include "nav.html.inc"
<!-- Main container -->
<div class="container-fluid">
    <div class="row">
        <!-- Gauge panel -->
        #include "livegauges.html.inc"
        <!-- Graph panel -->
        <div class="col-md-9 main">
            <h3 class="historyHeader">$gettext(Minimum Temperature)</h3>
            $min_temp_table

            <h3 class="historyHeader">$gettext(Average Temperature)</h3>
            $avg_temp_table

            <h3 class="historyHeader">$gettext(Maximum Temperature)</h3>
            $max_temp_table

            <h3 class="historyHeader">$gettext(Rainfall)</h3>
            $rain_table

            <h3 class="historyHeader">$gettext(Days of Rainfall)</h3>
            $rain_days_table

            <h3 class="historyHeader">$gettext(Maximum Gust)</h3>
            $max_wind_table

            $NOAA_table
        </div>
    </div>
    #include "foot.html.inc"
</div>
#include "script.html.inc"
</body>
</html>
