#errorCatcher Echo
<!DOCTYPE html>
<html lang="$lang">
#include "head.html.inc"
<body>
<!-- Menu navbar -->
#include "nav.html.inc"
<!-- Main container -->
<div class="container-fluid">
    <div class="row">
        <!-- Gauge panel -->
        #include "livegauges.html.inc"
        <!-- Graph panel -->
        <div class="col-md-9 main">
            <p></p>
            #include "graphMenu.html.inc"
            <div class="row">
                #for $chartName, value in $LiveCharts.items()
                #if isinstance($value, dict)
                <div id="${chartName}Chart" class="chart" onmouseover="toggleToolbox(this)" onmouseout="toggleToolbox(this)"></div>
                #end if
                #end for
            </div>
        </div>
    </div>
    #include "foot.html.inc"
</div>
#include "script.html.inc"
<script src="js/charts.js"></script>
</body>
</html>
