        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12" align="center">
              <h1 style="color: #777; font-family: sans-serif;">Aktuelle Wetterwerte</h1>
            </div>
          </div>
          <div class="row">
              <div class="col-md-6" align="center">
                <div id="outTempGauge" style="width: 160px;height:160px;"></div>
              </div>
              <div class="col-md-6" align="center">
                <div id="barometerGauge" style="width: 160px;height:160px;"></div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6" align="center">
                <div id="windDirGauge" style="width: 160px;height:160px;"></div>
              </div>
              <div class="col-md-6" align="center">
                <div id="outHumidityGauge" style="width: 160px;height:160px;"></div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6" align="center">
                <div id="windSpeedGauge" style="width: 160px;height:160px;"></div>
              </div>
              <div class="col-md-6" align="center">
                <div id="windGustGauge" style="width: 160px;height:160px;"></div>
              </div>
          </div>
          
          <!-- Station info -->
          <div class="row">
            <table class="table table-hover">
              <tbody>
	              <tr>
	                <td>$BootstrapLabels.status.latitude</td>
	                <td>$station.latitude[0]&deg; $station.latitude[1]' $station.latitude[2]</td>
	              </tr>
	              <tr>
	                <td>$BootstrapLabels.status.longitude</td>
	                <td>$station.longitude[0]&deg; $station.longitude[1]' $station.longitude[2]</td>
	              </tr>
	              <tr>
	                <td>$BootstrapLabels.status.altitude</td>
	                <td>$station.altitude</td>
	              </tr>
	              <tr>
	                <td>$BootstrapLabels.Almanac.sunrise</td>
	                <td>$almanac.sunrise</td>
	              </tr>
	              <tr>
	                <td>$BootstrapLabels.Almanac.sunset</td>
	                <td>$almanac.sunset</td>
	              </tr>
                <tr>
                  <td>$BootstrapLabels.Almanac.moon_phase</td>
                  <td>$almanac.moon_phase ($almanac.moon_fullness%)</td>
                </tr>
	              <!--tr>
	                <td>$BootstrapLabels.status.station_uptime</td>
	                <td>$station.uptime</td>
	              </tr>
	              <tr>
	                <td>$BootstrapLabels.status.server_uptime</td>
	                <td>$station.os_uptime</td>
	              </tr-->
	            </tbody>
            </table>
          </div>
        </div>
