#include "head.html.inc"
<!-- Menu navbar -->
#include "nav.html.inc"
<!-- Main container -->
<div class="container-fluid">
    <div class="row">
        <!-- Gauge panel -->
        #include "livegauges.html.inc"
        <!-- Graph panel -->
        <div class="col-md-9 main">
            <p></p>
            #include "graphMenu.html.inc"
            <div class="row" id="modalRow">
                <script type="text/javascript">
                  let readingTypes = [
                  #for $imageName, $value in $ImageGenerator.month_images.items()
                  #if isinstance($value, dict)
                  "${imageName}",
                  #end if
                  #end for
                  ];
                </script>
                #include "imagescript.html.inc"
            </div>
        </div>
    </div>
    #include "foot.html.inc"
</div>
#include "script.html.inc"
</body>
</html>
