<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>$BootstrapLabels.title</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/live.css" rel="stylesheet">
</head>
<body>
<!-- Menu navbar -->
#include "nav.html.tmpl"
<!-- Main container -->
<div class="container-fluid">
    <div class="row">
        <!-- Gauge panel -->
        #include "livegauges.html.tmpl"
        <!-- Graph panel -->
        <div class="col-md-9 main">
            <!--
            ---
            --- Use the following format for reasonably smart news / blog posts:
            ---
            --- <h3>Title (leaving a space at the end) <small>Your name, date</small></h3>
            ---
            --- ... Body text goes here. Enclose every paragraph in a set of <p> ... </p> tags.
            ----
            -->

            <h3>PV-Daten Verfügbar<small>3. Februar 2019</small></h3>
            <p>Ab sofort sind Daten aus der am Dach des Hauses befindlichen Photovoltaik-Anlage verfügbar. Angezeigt wird der Mittelwert der Wechselrichterausgangsleistung eines 5-Minuten-Intervals. Die Anlage hat eine Nennleistung von 3kW Peak und ist 155°; SSO ausgerichtet. Der Wert im Diagramm ist ein guter Anhaltspunkt für die Intensität der Sonnenstrahlung vor Ort. Beinflusst wird der Wert aber natürlich auch davon, ob die Module frei sind, oder, wie am Bild beispielsweise, teilweise von Schnee bedeckt sind. Aber auch ein einzelnes Blatt, oder wenn der Schatten der Blitzschutzanlage auf ein Modul fällt, beeinflussen den Wert sichtbar, da bei teilweiser Beschattung die Paneele Sektorweise abgeschaltet werden.</p>
            <p>
            <div><img src="../../pv.jpg" alt="PV-Anlage" title="PV-Anlage an der Messtation" style="margin-bottom:5px;" class="img-responsive"></div>
            </p>

            <h3>Neuer Standort seit 31.12.2018<small>1. Jänner 2019</small></h3>
            <p>Die Messstelle wurde am 31.12.2018 übersiedelt. Sie befindet sich nun ca. 150m vom bisherigen Standort entfernt. Der Temperatur- und Luftfeuchtesensor wurde in einer Wetterhütte untergebracht, der Windmesser befindet sich nun anstelle einer Baumkrone mit freier W-NW-N Anströmung, auf dem Dach eines Einfamlienhauses mit freier SW-S-O Anströmung, aus Richtung W-N-NO ist der Windmesser Verwirbelungen einer Siedlung ausgesetzt. Das Anemometer ist in einer Höhe von gut 2m über allen umgebenden Dachfirsten angebracht. Welchen Einfluss die übersiedelung auf die Interpretation der Messergebnisse hat, ist bis dato noch offen.</p>
            <p>
            <div><img src="../../thermometerhuette.jpg" alt="Thermometerhütte" title="Die Thermometerhütte der Messstation" style="margin-bottom:5px;" class="img-responsive"></div>
            </p>


            <!-- End of blog posts -->
        </div>
    </div>
    <hr>
    <footer>
        <p>$BootstrapLabels.footer</p>
    </footer>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-3.6.0.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/mqtt.min.js"></script>
<script src="weewxData.js"></script>
<script src="js/units.js"></script>
<script src="js/site.js"></script>
<script src="js/echarts.min.js"></script>
<script src="js/lang.js"></script>
<script src="js/gauges.js"></script>
</body>
</html>
