#errorCatcher Echo
<!DOCTYPE html>
<html lang="$lang">
#include "head.html.inc"
<body>
<!-- Menu navbar -->
#include "nav.html.inc"
<!-- Main container -->
<div class="container-fluid">
    <div class="row">
        <!-- Gauge panel -->
        #include "livegauges.html.inc"
        <!-- Graph panel -->
        <div class="col-md-9 main">
            #for $date, $newsItem in $News.items()
            #if len($News) == 1 or $date != 'Put date here...'
            <h3>$newsItem.header <small>$date</small></h3>
            <p>$newsItem.body</p>
            #if 'img_src' in $newsItem and $newsItem.img_src != ''
            <p>
            <div><img src="$newsItem.img_src" alt="$newsItem.img_alt" title="$newsItem.img_title" style="margin-bottom:5px;" class="img-fluid"></div>
            </p>
            #end if
            #end if
            #end for
            <!-- End of blog posts -->
        </div>
    </div>
    #include "foot.html.inc"
</div>
#include "script.html.inc"
</body>
</html>
