#errorCatcher Echo
<!DOCTYPE html>
<html lang="$lang">
#include "head.html.inc"
<body>
<!-- Menu navbar -->
#include "nav.html.inc"
<!-- Main container -->
<div class="container-fluid">
    <div class="row">
        <!-- Gauge panel -->
        #include "livegauges.html.inc"
        <!-- Stats panel -->
        <div class="col-md-9 main">
            #for $obs_type, $statsItem in $Stats.items()

            #set $since_ever = True
            #if 'since_ever' in $statsItem and $statsItem.since_ever.lower == 'false'
            #set $since_ever = False
            #end if
            <table class="table statsTable">
                <thead>
                <tr>
                    <th class="statsHeader">$Labels.Generic[$obs_type]</th>
                    <th>$gettext("Today")</th>
                    <th>$gettext("This week")</th>
                    <th>$gettext("This month")</th>
                    <th>$gettext("This year")</th>
                    #if $since_ever
                    <th>$gettext("Since ever")</th>
                    #end if
                </tr>
                </thead>
                #for $aggregate_type, $aggregate_type_item in $statsItem.items()
                #if isinstance($aggregate_type_item, dict)
                #set $aggregate_type_time = $aggregate_type + 'time'

                #set $text = 'Translation missing'
                #if 'label' in $aggregate_type_item.keys()
                    #set $text = $aggregate_type_item.label
                #elif $aggregate_type == 'max'
                    #set $text = 'High'
                #elif $aggregate_type == 'min'
                    #set $text = 'Low'
                #elif $aggregate_type == 'avg'
                    #set $text = 'Average'
                #elif $aggregate_type == 'sum'
                    #set $text = 'Sum'
                #elif $aggregate_type == 'maxmin'
                    #set $text = 'Highest minimum'
                #elif $aggregate_type == 'minmax'
                    #set $text = 'Lowest maximum'
                #end if

                #set $item_since_ever = True
                #if 'since_ever' in $aggregate_type_item and $aggregate_type_item.since_ever.lower == 'false'
                #set $item_since_ever = False
                #end if

                #set $show_time = True
                #if 'show_time' in $aggregate_type_item and $aggregate_type_item.show_time.lower == 'false'
                #set $show_time = False
                #end if

                #set $show_today = True
                #if 'show_today' in $aggregate_type_item and $aggregate_type_item.show_today.lower == 'false'
                #set $show_today = False
                #end if
                <tbody>
                <tr>
                    <th>$gettext($text)</th>
                    <td>
                        #if $show_today
                        $getattr($getattr($day, $obs_type), $aggregate_type)
                        #if $show_time
                        <br>
                        <span class="statsTime">$getattr($getattr($day, $obs_type), $aggregate_type_time)</span>
                        #end if
                        #end if
                    </td>
                    <td>$getattr($getattr($week, $obs_type), $aggregate_type)
                        #if $show_time
                        <br>
                        <span class="statsTime">$getattr($getattr($week, $obs_type), $aggregate_type_time)</span>
                        #end if
                    </td>
                    <td>$getattr($getattr($month, $obs_type), $aggregate_type)
                        #if $show_time
                        <br>
                        <span class="statsTime">$getattr($getattr($month, $obs_type), $aggregate_type_time)</span>
                        #end if
                    </td>
                    <td>$getattr($getattr($year, $obs_type), $aggregate_type)
                        #if $show_time
                        <br>
                        <span class="statsTime">$getattr($getattr($year, $obs_type), $aggregate_type_time)</span>
                        #end if
                    </td>
                    #if $since_ever
                    <td>
                        #if $item_since_ever
                        $getattr($getattr($alltime, $obs_type), $aggregate_type)
                        #if $show_time
                        <br>
                        <span class="statsTime">$getattr($getattr($alltime, $obs_type), $aggregate_type_time)</span>
                        #end if
                        #end if
                    </td>
                    #end if
                </tr>
                </tbody>
                #end if
                #end for
            </table>
            #end for
        </div>
    </div>
    #include "foot.html.inc"
</div>
#include "script.html.inc"
</body>
</html>
