<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>$BootstrapLabels.title</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap-4.6.0.min.css" rel="stylesheet">
    <link href="css/live.css" rel="stylesheet">
  </head>
  <body>
    <!-- Menu navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="$BootstrapLabels.location_href">$station.location</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="index.html">$BootstrapLabels.headings.front_page<span class="sr-only">(current)</span></a></li>
          <li class="nav-item active"><a class="nav-link" href="#">$BootstrapLabels.headings.stats</a></li>
          <li class="nav-item"><a class="nav-link" href="history.html">$BootstrapLabels.headings.history</a></li>
          <li class="nav-item"><a class="nav-link" href="news.html">$BootstrapLabels.headings.news</a></li>
          <li class="nav-item"><a class="nav-link" href="about.html">$BootstrapLabels.headings.about</a></li>
        </ul>
        <span class="navbar-text">$BootstrapLabels.headings.last_update <span id="lastUpdate">$current.dateTime</span></span>
      </div>
    </nav>  
    <!-- Main container -->  
    <div class="container-fluid">
      <div class="row">
        <!-- Gauge panel -->
        #include "livegauges.html.tmpl"
        <!-- Graph panel -->     
        <div class="col-md-9 main">
            <h3>$Labels.Generic.outTemp</h3>
            <table class="table table-sm table-hover">
              <thead>
                <tr>
                  <th></th>
                  <th>$BootstrapLabels.timespans.today</th>
                  <th>$BootstrapLabels.timespans.week</th>
                  <th>$BootstrapLabels.timespans.month</th>
                  <th>$BootstrapLabels.timespans.year</th>
                  <th>$BootstrapLabels.timespans.ever</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>$BootstrapLabels.minmax.max</td>
                  <td>$day.outTemp.max<br>$day.outTemp.maxtime</td>
                  <td>$week.outTemp.max<br>$week.outTemp.maxtime</td>
                  <td>$month.outTemp.max<br>$month.outTemp.maxtime</td>
                  <td>$year.outTemp.max<br>$year.outTemp.maxtime</td>
                  <td>$alltime.outTemp.max<br>$alltime.outTemp.maxtime</td>
                </tr>
                <tr>
                  <td>$BootstrapLabels.minmax.min</td>
                  <td>$day.outTemp.min<br>$day.outTemp.mintime</td>
                  <td>$week.outTemp.min<br>$week.outTemp.mintime</td>
                  <td>$month.outTemp.min<br>$month.outTemp.mintime</td>
                  <td>$year.outTemp.min<br>$year.outTemp.mintime</td>
                  <td>$alltime.outTemp.min<br>$alltime.outTemp.mintime</td>
                </tr>
              </tbody>
            </table>
            <h3>$Labels.Generic.rain</h3>
		        <table class="table table-sm table-hover">
              <thead>
		            <tr>
                  <th></th>
                  <th>$BootstrapLabels.timespans.today</th>
                  <th>$BootstrapLabels.timespans.week</th>
                  <th>$BootstrapLabels.timespans.month</th>
                  <th>$BootstrapLabels.timespans.year</th>
                </tr>
			        </thead>
			        <tbody>
                <tr>
    				      <td></td>
      				    <td>$day.rain.sum</td>
      				    <td>$week.rain.sum</td>
      				    <td>$month.rain.sum</td>
      				    <td>$year.rain.sum</td>
    				    </tr>
	   		      </tbody>
		        </table>
            <h3>$Labels.Generic.barometer</h3>
		        <table class="table table-sm table-hover">
            <thead>
              <tr>
              <th></th>
              <th>$BootstrapLabels.timespans.today</th>
              <th>$BootstrapLabels.timespans.week</th>
              <th>$BootstrapLabels.timespans.month</th>
              <th>$BootstrapLabels.timespans.year</th>
              <th>$BootstrapLabels.timespans.ever</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <td>$BootstrapLabels.minmax.max</td>
              <td>$day.barometer.max<br>$day.barometer.maxtime</td>
              <td>$week.barometer.max<br>$week.barometer.maxtime</td>
              <td>$month.barometer.max<br>$month.barometer.maxtime</td>
              <td>$year.barometer.max<br>$year.barometer.maxtime</td>
                                      <td>$alltime.barometer.max<br>$alltime.barometer.maxtime</td>
              </tr>
              <tr>
              <td>$BootstrapLabels.minmax.min</td>
              <td>$day.barometer.min<br>$day.barometer.mintime</td>
              <td>$week.barometer.min<br>$week.barometer.mintime</td>
              <td>$month.barometer.min<br>$month.barometer.mintime</td>
              <td>$year.barometer.min<br>$year.barometer.mintime</td>
              <td>$alltime.barometer.min<br>$alltime.barometer.mintime</td>
              </tr>
            </tbody>
          </table>
          <h3>$Labels.Generic.windSpeed</h3>
		      <table class="table table-hover">
            <thead>
              <tr>
              <th></th>
              <th>$BootstrapLabels.timespans.today</th>
              <th>$BootstrapLabels.timespans.week</th>
              <th>$BootstrapLabels.timespans.month</th>
              <th>$BootstrapLabels.timespans.year</th>
              <th>$BootstrapLabels.timespans.ever</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <td>$BootstrapLabels.minmax.max</td>
              <td>$day.wind.max<br>$day.wind.maxtime</td>
              <td>$week.wind.max<br>$week.wind.maxtime</td>
              <td>$month.wind.max<br>$month.wind.maxtime</td>
              <td>$year.wind.max<br>$year.wind.maxtime</td>
                      <td>$alltime.wind.max<br>$alltime.wind.maxtime</td>
              </tr>
            </tbody>
          </table>
        </div>          
      </div>
      <hr>
      <footer>
        <p>$BootstrapLabels.footer</p>
      </footer>
    </div>
    <!-- 'raw' makes Cheetah skip this section so it doesn't get confused by the dollar signs in the js -->
    #raw
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-3.5.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/moment-with-locales.js"></script>
    <script src="js/mqtt.min.js"></script>
    <script src="weewxData.js"></script>
    <script src="js/units.js"></script>
    <script src="js/site.js"></script>
    <script src="js/echarts.min.js"></script>
    <script src="js/gauges.js"></script>
    <script src="js/charts.js"></script>
    <script type="text/javascript">
          $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
              event.preventDefault();
              $(this).ekkoLightbox();
          });
          
    </script>
    #end raw
  </body>
</html>
