#errorCatcher Echo
#set global $global_type = 'week'
#set global $image_items = $to_list($ImageGenerator[$global_type + '_images'].get('image_items', ['weektempchill-Bootstrap', 'weekbarometer-Bootstrap', 'weekrain-Bootstrap', 'weekhumidity-Bootstrap', 'weekwind-Bootstrap', 'weekwinddir-Bootstrap']))
#include "chartimages.html.inc"