#errorCatcher Echo
#set global $global_type = 'year'
#set global $image_items = $to_list($ImageGenerator[$global_type + '_images'].get('image_items', ['yeartempmaxmin-Bootstrap', 'yearbarometer-Bootstrap', 'yearrain-Bootstrap', 'yearhumidity-Bootstrap', 'yearwind-Bootstrap', 'yearwinddir-Bootstrap']))
#include "chartimages.html.inc"
